export SECRET_KEY='%3vp)*5lvn88to4k1n8+ylj*0*($7xf6_tsn+l_(=ydu@xry+6'
export DB_NAME='the_nail_lab_website_2025'
export DB_USER='postgres'
export DB_PASSWORD='0897535532'

export SOCIAL_AUTH_GOOGLE_OAUTH2_KEY='768967133354-k1ibs5fus8dud3cl5cpthqacri22ddis.apps.googleusercontent.com'
export SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET='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'
