{% extends 'common/base.html' %}
{% load i18n %}

{% block content %}
    <section class="register-section">
        <form method="post" class="register-form">
            <h2 style="text-align:center;">Задай нова парола</h2>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="field-errors">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="field-errors">
                        {% for error in form.new_password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit">Запази новата парола</button>
        </form>
    </section>
{% endblock %}
