{% extends 'common/base.html' %}
{% load static %}
{% get_media_prefix as media_url %}

{% block content %}

<section class="profile-details-section">
    <div class="profile-details-div">

        <div class="profile-info">

            {% if user.get_full_name %}
                <h1>Профил на {{ user.get_full_name }}</h1>
            {% else %}
                <h1>Профил на {{ user.username }}</h1>
            {% endif %}

            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="Профилна снимка" class="profile-photo">
            {% else %}
                <img src="{{ media_url }}defaults/default_user.png" alt="Снимка по подразбиране" class="profile-photo">
            {% endif %}

            <a href="{% url 'update-photo' user.pk %}" class="button-like-a">
                Смени снимката
            </a>
        
            <p><strong>Потребителско име:</strong> {{ user.username }}</p>
            
            <p><strong>Имейл:</strong> {{ user.email }}</p>
            <p><strong>Телефон:</strong> {{ user.telephone_number }}</p>

            {% if user.is_employee %}
                {% if user.employeebio.biography %}
                    <p><strong>Биография:</strong> {{ user.employeebio.biography }}</p>
                {% endif %}

                <a href="{% url 'certificate_upload' %}" class="button-like-a">
                    Качи сертификат
                </a>
            {% endif %}
        
            <a href="{% url 'profile-edit' user.pk %}" class="button-like-a">
                Редактирай Профила
            </a>
        
            <a href="{% url 'change-password' user.pk %}" class="button-like-a">
                Промени парола
            </a>
        
            <a href="{% url 'profile-delete' user.pk %}" class="button-like-a">
                Изтрий Профила
            </a>
        
        </div>

    </div>
</section>

{% endblock %}
