{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<section class="register-section">
    <form method="post" class="register-form">
        <h2 style="text-align: center;">Редакция на профил</h2>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>

        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>

        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.telephone_number.label_tag }}
            {{ form.telephone_number }}
            {% if form.telephone_number.errors %}
                <div class="error">
                    {% for error in form.telephone_number.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
        {% if user.is_employee %}
            <div class="form-group">
                {{ form.biography.label_tag }}
                {{ form.biography }}
                {% if form.biography.errors %}
                    <div class="error">
                        {% for error in form.biography.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    
        <button type="submit">Запази промените</button>
    </form>
</section>
{% endblock %}
