{% extends 'common/base.html' %}
{% block content %}
    
    {% include 'common/search-service.html' %}

    <section class="services-main">
        {% if services %}
            {% for service in services %}
                <div class="service-section">
                    <span>
                        <div class="left-div">
                            <h4>{{ service.name }}</h4>
                            <p>{{ service.description|truncatewords:3 }}</p>
                            <a href="{% url 'service_details' service.id %}" class="button-like-a">Прочети още...</a>
                        </div>
    
                        <div class="right-div">
                            <img src="{{ service.service_photo.url }}" alt="{{ service.name }}" class="service-img">
                            <p>Цена: {{ service.price }} лв.</p>
                            <p>Време: {{ service.duration }}мин.</p>
                        </div>
                    </span>
                </div>
            {% endfor %}
        {% else %}
            
            {% if query %}
                <p>Няма намерени резултати за "{{ query }}".</p>
            {% else %}  {#  Проверка ако няма данни в базата #}
                <p>Няма налични услуги.</p>
            
            {% endif %}
        {% endif %}
    </section>
    
    <div class="pagination-wrapper">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&query={{ query }}">&laquo; Първа</a>
                    <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}">Предишна</a>
                {% endif %}
    
                <span class="current">
                    Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&query={{ query }}">Следваща</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}">Последна &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}
