{% extends 'common/base.html' %}
{% block content %}
    
    {% include 'common/search_service.html' %}

    <section class="services-main">
        {% if services %}
            {% for service in services %}
                <div class="service-section">
                    <span>
                        <div class="left-div">
                            <h4>{{ service.name }}</h4>
                            <p>{{ service.description|truncatechars:10 }}</p>
                            <a href="{% url 'service_details' service.id %}" class="button-like-a">Прочети още...</a>
                        </div>
    
                        <div class="right-div">
                            <img src="{{ service.service_photo.url }}" alt="{{ service.name }}" class="service-img">
                            <p>
                                Цена: {{ service.euro_price }} €.
                                {% if service.leva_price %}
                                    // {{ service.leva_price }} лв.
                                {% endif %}
                            </p>
                            <p>Време: ≈{{ service.duration }}мин.</p>
{#                            <p class="more-info">Цената и Времето са само за базова услуга.</p>#}
{#                            <p class="more-info">За повече инфо: <a href="{% url 'service-prices' %}">Ценоразпис</a></p>#}
                        </div>
                    </span>
                </div>
            {% endfor %}
        {% else %}
            
            {% if query %}
                <p>Няма намерени резултати за "{{ query }}".</p>
            {% else %}
                <p>Няма налични услуги.</p>
            
            {% endif %}
        {% endif %}
    </section>
    
    {% include 'common/pagination.html' %}

{% endblock %}
