{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    
    <section class="service-details-section">
        <div class="service-details-div">
            <h2>{{ service.name }}</h2>
            <img src="{{ service.service_photo.url }}" alt="{{ service.name }}" class="service-img-details">
            <p>{{ service.description }}</p>
            
            <div>
                <span>
                    Цена: {{ service.price }} лв.
                    {% if service.max_price %}
                        - {{ service.max_price }} лв.
                    {% endif %}
                </span>
                <span>Време: ≈{{ service.duration }}мин.</span>
            </div>

            <div>
                <p class="more-info">Цената и Времето са само за базова услуга.</p>
                <p class="more-info">За повече инфо: <a href="{% url 'service-prices' %}">Ценоразпис</a></p>
            </div>

            <a href="{% url 'appointment-create' %}?service_id={{ service.id }}" class="button-like-a">Запази час</a>

        </div>
    </section>
    
{% endblock %}
