{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<section class="appointment-details-section">
    <div class="appointment-details-div">

        <div class="appointment-left-info">
            <p><strong>Вид на услугата:&nbsp;&nbsp;</strong> {{ appointment.service.name }}</p>
            <p><strong>Клиент:&nbsp;&nbsp;</strong> {{ appointment.client.user.get_full_name|default:appointment.client.user.username }}</p>
            <p><strong>Специалист:&nbsp;&nbsp;</strong> {{ appointment.employee.user.get_full_name|default:appointment.employee.user.username }}</p>
            {% if appointment.client.user.telephone_number %}
                <p><strong>Телефон:&nbsp;&nbsp;</strong> {{ appointment.client.user.telephone_number }}</p>
            {% endif %}
            <p><strong>Имейл адрес:&nbsp;&nbsp;</strong> {{ appointment.client.email }}</p>
            <p><strong>Дата и час:&nbsp;&nbsp;</strong> {{ appointment.date }} – {{ appointment.start_time }}</p>
            <p>
                <strong>Време и цена:&nbsp;&nbsp;</strong>
                ≈{{ appointment.service.duration }}мин. //
                {{ appointment.service.euro_price }} €.
                {% if appointment.service.leva_price %}
                    // {{ appointment.service.leva_price }} лв.
                {% endif %}
            </p>

            {% if appointment.comment %}
                <p><strong>Коментар:&nbsp;&nbsp;</strong> {{ appointment.comment }}</p>
            {% endif %}

            <div class="appointment-buttons">
                <a href="{% url 'appointment-edit' appointment.pk %}" class="button-like-a">Промени</a>
                <a href="{% url 'appointment-delete' appointment.pk %}" class="button-like-a">Изтрий</a>
            </div>
        </div>

        <div class="appointment-right-info">
            <img src="{{ appointment.service.service_photo.url }}" alt="{{ appointment.service.name }}" class="appointment-img-details">
        </div>

    </div>
</section>

{% endblock %}
