{% for appointment in appointment_list %}
    {% if appointment %}
        <section class="nails-section" style="background-image: url('{{ appointment.service.service_photo.url }}');">
            <a href="{% url 'appointment_details' appointment.pk %}">
                <div>
                
                    <p>Вид на услугата:</p>
                
                    <h3>
                        {{ appointment.service.name }}
                    </h3>
                
                    <p>
                        Дата:&nbsp;
                        <strong>
                            {{ appointment.date }}
                        </strong> 
                    </p>
                
                    <p>
                        Час:&nbsp;
                        <strong>
                            {{ appointment.start_time }}
                        </strong> 
                    </p>
                
                    <p>
                        <strong>Цена:&nbsp;</strong> 
                        {{ appointment.service.price}} лв.
                    </p>
                
                    <p>
                        <strong>Време:&nbsp;</strong> 
                        {{ appointment.service.duration }}мин.
                    </p>
                
                    <p>
                        Телефон:&nbsp;
                        <strong>
                            {{ appointment.client.user.telephone_number }}
                        </strong>
                    </p>

                    <p>
                        {% if appointment.comment %}
                            Коментар:&nbsp;
                            <strong>
                                {{ appointment.comment|truncatechars:15 }}
                            </strong> 
                        {% endif %}
                    </p>

                </div>
            </a>
        </section>
    {% endif %}
{% empty %}
    <section class="nails-section">
        <a href="">
            <div>
                <p>
                    Няма запазени часове!
                </p>
            </div>
        </a>
    </section>
{% endfor %}
