{% for appointment in appointment_list %}
    {% if appointment %}
        <section class="nails-section" style="background-image: url('{{ appointment.service.service_photo.url }}');">
            <a href="">
                <div>
                    <h3>
                        {{ appointment.service.name }}
                    </h3>
                    <p>
                         {{ appointment.date }} – {{ appointment.start_time }}
                    </p>
                    <p>
                        {% if appointment.comment %}
                            {{ appointment.comment }}
                        {% endif %}
                    </p>
                    
                </div>
            </a>
        </section>
    {% endif %}
{% empty %}
    <section class="nails-section">
        <a href="">
            <div>
                <p>
                    Няма запазени часове!
                </p>
            </div>
        </a>
    </section>
{% endfor %}
