{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <section class="register-section">
        <form method="post" class="register-form">
            <h2 style="text-align: center;">Провери за свободен час</h2>
    
            {% csrf_token %}
    
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
    
            <div class="form-group">
                {{ form.employee.label_tag }}
                {{ form.employee }}
                {% if form.employee.errors %}
                    <div class="error">{{ form.employee.errors }}</div>
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.service.label_tag }}
                {{ form.service }}
                {% if form.service.errors %}
                    <div class="error">{{ form.service.errors }}</div>
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
                {% if form.date.errors %}
                    <div class="error">{{ form.date.errors }}</div>
                {% endif %}
            </div>
    
            <button type="submit">Провери</button>
        </form>
    
        {% if slots %}
            <div class="available-slots-wrapper">
                <h3>Налични часове:</h3>
                
                <ul class="slot-list">
                    {% for slot in slots %}
                        <li class="slot-item">
                            <span>{{ slot.date }} в {{ slot.start_time }}</span>
                            <a href="{% url 'appointment_create' %}?service_id={{ slot.service.id }}&employee_id={{ slot.employee.id }}&date={{ slot.date|date:'Y-m-d' }}&start_time={{ slot.start_time }}" class="slot-book-btn">
                                Запази
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            
            </div>
        {% elif slots is not none %}
            <p class="no-slots-msg">Няма свободни часове за тази дата.</p>
        {% endif %}
    
    </section>
{% endblock %}
