{% extends 'common/base.html' %}

{% block content %}
    
    <section class="register-section">
    
        <form method="post" class="register-form">
            <h2 style="text-align: center;">Сигурни ли сте?
            </h2>
            {% csrf_token %}
            <button type="submit">Да</button>
            <a href="{% url 'day-off-details' object.pk %}" class="delete-form-a">
                <button type="button">Отказ</button>
            </a>
        </form>
    
    </section>
    
{% endblock %}
