<section style="font-size: large">
        <p>Услуга: <strong>{{ service }}</strong></p>
        <p>Служител: <strong>{{ employee }}</strong></p>
        <p>Описание: <strong>{{ service.description }}</strong></p>
        <p>Цена: <strong>{{ service.price }} лв.</strong></p>
        <p>Дата: <strong>{{ date }}</strong></p>
        <p>Час: <strong>{{ time }}</strong></p>
        {% if comment %}
            <p>Коментар: <strong>{{ comment }}</strong></p>
        {% endif %}
</section>

<br>
<br>
<br>
<br>

<section  style="font-size: large">
    <p style="color: #999999;">Съобщението е автоматично и не отговаря на запитвания.</p>
</section>
