<br>
<br>

<h1>{{ subj_message }}</h1>



<section style="font-size: large">
        <p>Служител: <strong>{{ employee }}</strong></p>
        {% if client.user.get_full_name %}
            <p>Клиент: <strong>{{ client.user.get_full_name }}</strong></p>
        {% else %}
            <p>Клиент: <strong>{{ client }}</strong></p>
        {% endif %}


        <br>
        <br>
        <p>Услуга: <strong>{{ service }}</strong></p>
        <br>
        <p>Описание: <strong>{{ service.description }}</strong></p>
        <p>
            Цена:
                <strong>
                    {{ service.price }} лв.
                    {% if service.max_price %}
                        - {{ service.max_price }} лв.
                    {% endif %}
                </strong>
        </p>
        <br>
        <p>Дата: <strong>{{ date }}</strong></p>
        <p>Час: <strong>{{ time }}</strong></p>
        {% if comment %}
            <p>Коментар: <strong>{{ comment }}</strong></p>
        {% endif %}
</section>

<br>
<br>
<br>
<br>

<section  style="font-size: large">
    <p style="color: #999999;">Съобщението е автоматично и не отговаря на запитвания.</p>
</section>
