{% load static %}


<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Nail Lab</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endblock %}
    <script src="https://kit.fontawesome.com/305e1f6e92.js" crossorigin="anonymous"></script>
</head>

<!-- 
    TODO: Log in/out & Register logic #}
-->
 
<body>

    <header>
        {% include 'common/nav.html' %}
    </header>

    <main>
        
        {% block content %}
            
            <section class="logo-section">
                <div>{#  The purpose of this container is to position the LOGO #}</div>
            </section>
            
            <section class="nails-section">
                <a href="">
                    <div>
                        <p>
                             Поглези себе си с красив маникюр – заслужаваш го! Запиши своя час още днес и нека се погрижим ръцете ти да изглеждат съвършено. Очакваме те с усмивка и професионализъм!
                        </p>
                    </div>
                </a>
            </section>
            
            <section class="nails-section">
                <a href="">
                    <div>
                        <p>
                            Вид услуга със снимка
                        </p>
                    </div>
                </a>
            </section>
            
             <section class="info-section">
                
                <h1>Защо да ни изберете:</h1>    
                <div class="row-line"></div>
                
                <div class="second-container">
                    
                    <div class="left-div">
                        <p>
                             Избирам прецизност, качествени материали и индивидуално отношение към всеки клиент. За мен маникюрът не е просто услуга – това е изкуство, създадено с внимание и любов.
                        </p>
                    </div>
                    
                    <div class="right-div">
                        <p>
                            Работя с грижа, търпение и внимание към детайла, защото ръцете ти заслужават най-доброто. Довери ми се – ще излезеш с усмивка и перфектен маникюр.
                        </p>
                    </div>
                    
                </div>
                
            </section>
            
        {% endblock %}
    {% include 'common/footer.html' %}
    </main>

</body>



</html>
