<footer>
        <div class="footer-column">

            <h1>Th<span class="header-letter">e</span>&nbsp;&nbsp;Nai<span class="header-letter">L</span>&nbsp;&nbsp;Lab</h1>

            <div class="footer-icon-row">
                <div class="footer-icon-bg">
                    <a href="https://www.facebook.com/petiinka.georgiiewa?locale=bg_BG" target="_blank"><i class="fa-brands fa-facebook" style="color: #008efa;"></i></a>
                </div>
                <div class="footer-icon-bg instagram">
                    <a href="https://www.instagram.com/the_nail_lab.petya/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="get-in-touch-vertical">
                <div class="get-in-touch-column-left">
                    <h3>Свържете се с нас</h3>
                    <p>гр. Търговище</p>
                    <p>ул. Сердика 5</p>
                    <p>+359 87 6706061</p>
                </div>

                <div class="get-in-touch-column-right">
                    <h3>Работно време:</h3>
                    <p>Oт 09:00 ч.</p>
                    <p>До 20:00 ч.</p>
                </div>

            </div>

            <p class="no-copyrights">©All Rights Reserved.</p>

        </div>
</footer>
