{% load static %}

{% if user.is_authenticated %}
    <nav class="base-navigation-bar">
    
        <button id="hamburger" class="hamburger" aria-label="Toggle menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    
        <h1>Th<span class="header-letter">e</span>&nbsp;&nbsp;Nai<span class="header-letter">L</span>&nbsp;&nbsp;Lab</h1>
        
            <div class="nav-left">
                
                <a href="{% url 'homepage' %}" title="Начало">
                    <div class="nav-item">
                        <i class="fa-solid fa-house"></i>
                        <p>Начало</p>
                    </div>
                </a>
                
                <a href="{% url 'services' %}" title="Услуги">
                    <div class="nav-item">
                        <i class="fa-solid fa-store"></i>
                        <p>Услуги</p>
                    </div>
                </a>
                
                <a href="{% url 'appointment_create' %}" title="Ваучери">
                    <div class="nav-item">
                        <i class="fa-solid fa-calendar-check"></i>
                        <p>Запази час</p>
                    </div>
                </a>
                
                <a href="#" title="Галерия">
                    <div class="nav-item">
                        <i class="fa-solid fa-images"></i>
                        <p>Галерия</p>
                    </div>
                </a>
                
                <a href="#" title="Контакти">
                    <div class="nav-item">
                        <i class="fa-regular fa-address-book"></i>
                        <p>Контакти</p>
                    </div>
                </a>
                
            </div>
        
            <div class="nav-right">
                
                <a href="#" title="Профил">
                    <div class="nav-item">
                        <i class="fa-solid fa-user"></i>
                        <p>Профил</p>
                    </div>
                </a>
                
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" title="Изход" class="logout-button">
                        <div class="nav-item">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Изход</p>
                        </div>
                    </button>
                </form>
                
            </div>
    
    </nav>
    
     <script src="{% static 'hamburger-nav.js' %}"></script>
    
{% else %}    
    
        <h1>Th<span class="header-letter">e</span>&nbsp;&nbsp;Nai<span class="header-letter">L</span>&nbsp;&nbsp;Lab</h1>

{% endif %}
