<nav>
    
    <h1><span class="header-letter">D</span>iamond</h1>
    
    <a href="{% url 'homepage' %}" title="Начало">
        <i class="fa-solid fa-house"></i>
        <p>Начало</p>
    </a>
    
    <a href="#">
        <i class="fa-solid fa-people-group"></i>
        <p>Екип</p>
    </a>
    
    <a href="#">
        <i class="fa-solid fa-store"></i>
        <p>Услуги</p>
    </a>
    
    <a href="#">
        <i class="fa-solid fa-money-check-dollar"></i>
        <p>Ваучери</p>
    </a>
    
    <a href="#">
        <i class="fa-solid fa-images"></i>
        <p>Галерия</p>
    </a>
    
    <a href="#">
        <i class="fa-regular fa-address-book"></i>
        <p>Контакти</p>
    </a>
    
    <a href="#" class="nav-profile">
        <i class="fa-solid fa-user"></i>
        <p>Профил</p>
    </a>
    <a href="#" class="nav-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p>Търсачка</p>
    </a>
   
</nav>

