<div class="pagination-wrapper">
    <div class="pagination">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <a href="?page=1&query={{ query }}&category={{ category }}">
                    &laquo; Първа
                </a>

                <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}&category={{ category }}">
                    Предишна
                </a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&query={{ query }}&category={{ category }}">
                    Следваща
                </a>

                <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}&category={{ category }}">
                    Последна &raquo;
                </a>
            {% endif %}

        </span>
    </div>
</div>

