@font-face {
    font-family: 'WDXL_Lubrifont_SC';
    src: url("fonts/WDXL_Lubrifont_SC/WDXLLubrifontSC-Regular.ttf") format("truetype");
}

html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'WDXL_Lubrifont_SC', serif;
    letter-spacing: 0.05em;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #efefef);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('home_page/Cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 480px;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 30px;
}

.info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    gap: 10px;
    width: 100%;
    min-height: 300px;
}

.info-section a {
    color: #cc103e;
}

.row-line{
    background-color: #cc103e;
    height: 3px;
    width: 130px;
    margin-bottom: 20px;
}

.info-section h1 {
    font-size: 2rem;
}

.second-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 40%;
    gap: 80px;
}

.second-container > .left-div {
    text-align: left;
}

.second-container > .right-div {
    text-align: right;
}

.nails-section {
    display: flex;
    flex-direction: column;
    background: #cc103e;
    background-position: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nails-section a {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.nails-section a div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    margin: 25px auto;
    align-items: stretch;
    gap: 5px;
    width: 60%;
    max-width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.nails-section a div p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    margin-bottom: 10px;
}

.nails-section a div .user-data-name-info {
    margin-top: 15px;
}

.nails-section a div .user-data-comment-info {
    margin-top: 15px;
}

.nails-section a div h3 {
    align-self: center;
    color: black;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    width: fit-content;
}

.nails-section a:hover {
    border-radius: 2px;
    transition: all 0.3s ease;
    padding: 3px 5px;
}

.nails-section a:active {
    color: white;
    transform: scale(0.95);

    border-radius: 10px;
}

.rest-day {
    display: flex;
    flex-direction: column;
    background: #a8dbf6;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media (max-width: 1024px) {

    .logo-section {
        height: 420px;
        width: 1024px;
    }

    .second-container {
        flex-direction: column;
        width: 90%;
        gap: 10px;
    }

    .left-div, .right-div {
        text-align: center;
    }
}


@media (max-width: 768px) {

    body, main {
        width: 100%;
    }

    .logo-section {
        height: 320px;
        width: 768px;
    }

    .second-container {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        max-width: 100%;
        max-height: 100%;
        gap: 20px;
    }

    .second-container p {
        padding: 5px;
        margin: 10px;
    }

    .nails-section {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .nails-section a div {
        width: 100%;
    }

}

@media (max-width: 580px) {

    .logo-section {
        height: 220px;
        width: 580px;
    }

}


@media (max-width: 400px) {

    .logo-section {
        width: 400px;
    }

    .info-section {
        height: 620px;
    }

    .second-container {
        flex-direction: column;
        width: 95%;
    }

    p {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.4rem;
    }
}











