
/*
SERVICES
*/
.service-section {
    background-image: url('christmas_mode/flowers_christmas.jpg');!important;
    background-position: center;!important;
}



.service-section span div {
    background-color: inherit;!important;
}



.left-div h4 {
    color: white;!important;
}


.left-div p {
    color: white;!important;
}

.right-div p {
    color: white;!important;
}


/*
SEARCH BAR
*/

.search-form {
    background-image: url('christmas_mode/flowers_christmas.jpg');!important;
    background-position: center;
    background-size: cover;
}

.search-input {
    opacity: 0.7;
    font-weight: bolder;
}

.search-form button {
    background: inherit;!important;
    color: #c3c9c7;
    border-color: #c3c9c7;
    border-width: 3px;
    border-style: dashed;
}

/*
HOME PAGE
*/

.nails-section {
    background-image: url('christmas_mode/green_christmas.jpg');!important;
    background-size: cover;
}

.rest-day {
    background-image: url('christmas_mode/christmas_coffee.jpg');!important;
    background-position: center;
    background-size: cover;
}


