
/*
SERVICES
*/
.service-section {
    background-image: url('christmas_mode/flowers_christmas.jpg');!important;
    background-position: center;!important;
}



.service-section span div {
    background-color: inherit;!important;
}



.left-div h4 {
    color: white;!important;
}


.left-div p {
    color: white;!important;
}

.right-div p {
    color: white;!important;
}

.service-details-div p {
    background-color: inherit;!important;
}

.service-details-div p.more-info a {
    color: white;!important;
    padding: 5px;
    border-bottom: 2px solid #ffffff;!important;
    border-radius: 15px;
}

.service-details-div p.more-info a:hover {
    color: #cc103e;
}


/*
SEARCH BAR
*/

.search-form {
    background-image: url('christmas_mode/flowers_christmas.jpg');!important;
    background-position: center;
    background-size: cover;
}

.search-input {
    opacity: 0.7;
    font-weight: bolder;
}

.search-form button {
    background: inherit;!important;
    color: #c3c9c7;
    border-color: #c3c9c7;
    border-width: 3px;
    border-style: dashed;
}

/*
HOME PAGE
*/

body {
    background-image: url('christmas_mode/christmas-3.jpg');!important;
    background-position: center;
    background-size: cover;
    color: white;
}


.nails-section {
    background-image: url('christmas_mode/green_christmas.jpg');!important;
    background-size: cover;
}

.rest-day {
    background-image: url('christmas_mode/christmas_coffee.jpg');!important;
    background-position: center;
    background-size: cover;
}

.unauthorized-div {
    color: white;!important;
}

.info-section a {
    color: white;
}

.row-line {
    background-color: white;
}


/*
NAVIGATION PAGE
*/

.header-letter {
    color: green;!important;
    background: inherit;
}


.base-navigation-bar h1 {
    color: white;!important;

}

.base-navigation-bar {
    background-image: url('christmas_mode/christmas-1.jpg');!important;
    background-position: center;
    background-size: contain;
    color: white;!important;
    border: 1px solid #737773;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-left a,
.nav-right a,
.nav-right .nav-item {
    color: white;!important;
}

.hamburger {
    color: white;!important;
}


/*
FOOTER PAGE
*/

.footer-column h1 {
    color: white;!important;
}

.footer-icon-bg {
    border: 2px solid white;
}


.get-in-touch-vertical p {
    color: white;!important;
}


/*
LOGIN PAGE
*/


.login-form {
    background-color: inherit;!important;
}

.register-prompt {
    color: white;!important;
}

.google-login-prompt {
    color: white;!important;
}

.register-form {
    background-color: inherit;!important;
}

.register-form label {
    color: white;!important;
}

.login-form label {
    color: white;!important;
}


/*
PAGINATION
*/
.step-links {
    background-color: inherit;!important;
}

/*
AVAILABLE SLOTS PAGE
*/

.no-slots-msg {
    padding: 13px;
    color: white!important;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #cc103e!important;
}


.slot-item {
    padding: 10px;
    background-color: rgb(19, 117, 2);!important;
    border: 2px solid white;
    border-radius: 15px;






}


/*
PROFILE PAGE
*/

.profile-details-div {
    background-color: inherit;!important;
}

.employee-card {
    background-color: inherit;!important;
}


/*
REST DAY PAGE
*/

.dayoff-details-div {
    background: inherit;!important;
}


/*
APPOINTMENTS DETAILS PAGE
*/


.appointment-details-div {
    background-color: inherit;!important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;!important;
}


