.employees-addresses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #fefefe;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow: hidden;
}

.employee-contact-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.employee-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.employee-contact-card-certificates {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 25px;
    height: 360px;
}

.scrolling-certificates {
    display: flex;
    gap: 20px;
    animation: scroll-left 30s linear infinite;
}

.scrolling-certificates a {
    flex-shrink: 0;
    text-decoration: none;
}

.scrolling-certificates img {
    width: 250px;
    height: 340px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    pointer-events: auto;
    transition: transform 0.2s ease-in-out;
}

.scrolling-certificates img:hover {
    transform: scale(1.05);
}


@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.employee-contact-card-certificates:hover .scrolling-certificates {
    animation-play-state: running;
}

.no-employees {
    text-align: center;
    font-size: 18px;
    padding: 40px;
}
