@font-face {
    font-family: 'BespokeStencil_Complete';
    src: url(/static/fonts/BespokeStencil_Complete/Fonts/OTF/BespokeStencil-BoldItalic.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'BespokeStencil_Complete';
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #efefef);
    /*min-width: 793px;*/
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('home_page/Cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 480px;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 30px;
}

.info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    gap: 10px;
    width: 100%;
    height: 400px;
    max-height: 800px;
}

.row-line{
    background-color: #cc103e;
    height: 3px;
    width: 130px;
    margin-bottom: 20px;
}

.info-section h1 {
    font-size: 2rem;
}

.second-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 40%;
    gap: 80px;
}

.second-container > .left-div {
    text-align: left;
}

.second-container > .right-div {
    text-align: right;
}

.nails-section {
    display: flex;
    flex-direction: column;
    background: #cc103e;
    /*background-image: url('home_page/nails.png');*/
    background-repeat: inherit;
    background-position: center;
    gap: 10px;
    width: 100%;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nails-section a {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.nails-section a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 40%;
    height: 40%;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 50px 20px 50px 20px;
    border-radius: 10px;
}

.nails-section a div p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
}

.nails-section a div h3 {
    color: black;
    margin-bottom: 20px;
}

.nails-section a:hover {
    border-radius: 2px;
    transition: all 0.3s ease;
    padding: 3px 5px;
}

.nails-section a:active {
    color: white;
    transform: scale(0.95);

    border-radius: 10px;
}




@media (max-width: 768px) {

    body, main {
        width: 100%;
    }

    .second-container {
        width: 70%;
        max-width: 100%;
        justify-content: center;
        max-height: 100%;
    }

}















