nav {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread out left and right */
    width: 100%;
    max-width: 1200px;
    height: 70px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 0 20px;
    top: 60px;
    box-sizing: border-box;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

nav h1 {
    color: #000000;
    font-size: 3rem;
    margin-right: 30px;
    white-space: nowrap;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Optional spacing between links */
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 5px;
}

nav a:hover {
    font-weight: bolder;
    border-bottom: solid black 1px;
    border-radius: 2px;
    transition: all 0.3s ease;
    padding: 3px 5px;
}

nav a:active {
    color: white;
    transform: scale(1.95);
    background-color: black;
    border-radius: 10px;
}

.header-letter {
    display: inline-block;
    transform: rotate(-8deg);
    margin-right: -5px;
    color: #cc103e;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}