.services-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center all rows */
    gap: 20px; /* Space between cards */
    padding: 20px;
}

.service-section {
    width: 50%; /* 3 per row */
    min-width: 280px;
    max-width: 500px;
    height: 300px;
    background-color: #cc103e;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.service-section span {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.service-section span div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.left-div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 8px;
}

.left-div h4 {
    margin-bottom: 4px;
}

.left-div a {
    margin-top: 8px;
    margin-bottom: 4px;
}

.right-div {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    align-items: center;
    gap: 8px;
}

.service-section a {
    background-color: white;
    padding: 7px;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.service-section a:hover {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    background-color: black;
    color: white;
}

.service-section a:active {
    color: white;
    transform: scale(0.95);
    border-radius: 10px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination .step-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pagination .step-links a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.pagination .step-links a:hover {
    background-color: #007bff;
    color: white;
}

.service-img {
    width: 80%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: end;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}