{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <section class="certificate-upload-section">
        <div>
            <h1>Качи сертификат</h1>

            <form method="post" enctype="multipart/form-data" class="certificate-upload-form">
                {% csrf_token %}

                <div class="file-input-wrapper">
                    <label for="id_photo">Снимка</label>

                    {{ form.photo }}
                    <label for="id_photo" class="custom-file-label">Избери файл</label>

                    <div class="current-photo">
                        <span id="selected-file-name">Няма избран файл</span>
                    </div>
                </div>

                <button type="submit" class="button-like-a">Качи</button>
            </form>

            <div class="back-link">
                <a href="{% url 'profile-details' request.user.employeebio.pk %}" class="button-like-a">Назад</a>
            </div>
        </div>
    </section>

    <script src="{% static '07_gallery_upload.js' %}"></script>

{% endblock %}
