{% extends 'common/base.html' %}
{% block content %}
    
    <h1 class="gallery-header">Галерия</h1>
    
    {% if user.is_employee %}
        <a href="{% url 'gallery_upload' %}" class="button-like-a">Качи нова снимка</a>
    {% endif %}
    
    <section class="gallery-container">
        {% for photo in gallery_list %}
            <a href="{{ photo.photo.url }}" target="_blank" class="gallery-item-link">
                <div class="gallery-item">
                    <img src="{{ photo.photo.url }}" alt="{{ photo.name }}">
                    
                    {% if photo.name %}
                        <h3>{{ photo.name }}</h3>
                    {% endif %}
                
                    {% if photo.description %}
                        <p>{{ photo.description }}</p>
                    {% endif %}
                
                    <small>{{ photo.upload_date }}<br></small>
                </div>
            </a>
        {% endfor %}
    </section>
    
    <div class="pagination-wrapper">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&query={{ query }}">&laquo; Първа</a>
                    <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}">Предишна</a>
                {% endif %}
    
                <span class="current">
                    Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&query={{ query }}">Следваща</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&query={{ query }}">Последна &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
{% endblock %}


